:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  min-height: 100svh;
}

h1 {
  margin-bottom: 1.75rem;
}

.centered {
  display: grid;
  place-items: center;
}

.default-list {
  list-style-type: none;
}

.default-list-item {
  margin-bottom: 0.75rem;
}

.default-list-item:last-child {
  margin-bottom: 0;
}
